html{
    padding: 5px;
    background-color: white;
    
}
*{
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 16px;
}

body{
    width: 250px;
    margin: 0;
    padding: 10px;
    padding-left: 30px;
    height: auto;
    border: 2px black;
}